<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="TaskManager.Properties.Settings.DBConnectionString"
   connectionString="Data Source=Sean-PC\SQLEXPRESS;Initial Catalog=TaskDB;Persist Security Info=True;User ID=TaskUserLogin;Password=TaskUser_Pass"
   providerName="System.Data.SqlClient" />
		<add name="TaskManager.Properties.Settings.DatabaseLocalConnectionString"
		 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DatabaseLocal.mdf;Integrated Security=True;User Instance=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<userSettings>
		<TaskManager.Properties.Settings>
			<setting name="CurrentLanguage" serializeAs="String">
				<value>en-US</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value />
			</setting>
			<setting name="SaveUserName" serializeAs="String">
				<value>False</value>
			</setting>
		</TaskManager.Properties.Settings>
	</userSettings>
</configuration>