<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<userSettings>
		<TaskManager.Properties.Settings>
			<setting name="UserName" serializeAs="String">
				<value/>
			</setting>
			<setting name="SaveUserName" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MinimizeToTray" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoLogin" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SavePassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DBConnectionString" serializeAs="String">
				<value>Data Source=Sean-PC\SQLEXPRESS;Initial Catalog=TaskDB;Persist Security Info=True;User ID=TaskUserLogin;Password=TaskUser_Pass</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value/>
			</setting>
			<setting name="UseRemoteConnection" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowWarning" serializeAs="String">
				<value>True</value>
			</setting>
		</TaskManager.Properties.Settings>
	</userSettings>
	<startup/></configuration>
